@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic";@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i';@import 'https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i';@import "../icons/open-iconic/font/css/open-iconic-bootstrap.css";@import "../icons/font-awesome/css/font-awesome.min.css";@import "../icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css";@import "../icons/ionicons/css/ionicons.css";@import "../icons/et-line-font/style.css";@import "../icons/elegant_font/style.css";@import "../icons/rivolicons/style.css";@import "../icons/stroke-gap-icons/style.css";@import "../icons/themify-icons/themify-icons.css";@import "../icons/education-icon/education-icon.css";@import "https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.min.css";html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font-family:inherit;vertical-align:baseline;zoom:1}
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
    body{line-height:1}
    ol,ul{list-style:none}
    blockquote,q{quotes:none}
    blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
    table{border-collapse:collapse;border-spacing:0}
    *{
        box-sizing:border-box;
        -o-box-sizing:border-box;
        -ms-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -khtml-box-sizing:border-box;
        -webkit-box-sizing:border-box
    }
    body{
        font-size:13px;
        line-height:23px;
        font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
        color:#777;
        -webkit-font-smoothing:antialiased!important;
        font-smoothing:antialiased!important;
        background-color:#fff;
        height:100%!important}
img{
    /*width:100%;*/
    max-width:100%;
    height:auto;
    display:block
}
img{
    -ms-interpolation-mode:bicubic
}
object,embed{
    max-width:100%
}
a,a:visited,a:focus,a:active,a:hover{
    text-decoration:none;
    outline:none
}
a{
    color:#0d7cc9;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    cursor:poitner;
    text-decoration:none}
a:hover{
    color:#329be6;
    text-decoration:none
}
strong
    {
    font-weight:700!important
    }
h1,h2,h3,h4,h5,h6,p,ul,ol,pre,table,blockquote{
    margin-bottom:20px;
    margin-top:0;
    padding:0
}
    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
        font-family:roboto condensed,sans-serif
    }  .h1,.h2,.h3,.h4,.h5,.h6{
               display:block
           }
h1,h2,h3,h4,h5,h6{
    font-weight:300;
    color:#333;
    margin-top:22px;
    margin-bottom:20px;
    line-height:1.45}
h1,.h1{
    font-size:56px
}
h2,.h2{
    font-size:40px
}h3,.h3{
     font-size:30px
 }
h4,.h4{
	font-size:25px
	}h5,.h5{
		font-size:18px;
		font-weight:400
		}h6,.h6{
			font-size:15px;
			font-weight:700
			}h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child{
				margin-top:0
				}p,span{
					font-weight:400
					}p{
						margin-bottom:18px
						}p.lead{
							font-size:16px;
							font-weight:400;
							line-height:28px}p:last-child{
								margin-bottom:0!important
								}@media all and (max-width:767px){
									h1,.h1{
										font-size:32px
										}h2,.h2{
											font-size:28px
											}h3,.h3{
												font-size:24px
												}h4,.h4{
													font-size:18px
													}h5,.h5{
														font-size:16px
														}h6,.h6{
															font-size:12px
															}p.lead{
																font-size:14px;
																line-height:24px
																}p{
																	font-size:12px
																	}}blockquote,.blockquote{
																		overflow:hidden;
																		font-family:merriweather,georgia,Times New Roman,Times,serif;
																		font-size:18px;line-height:36px;
																		font-style:italic;background:#f5f5f5;
																		padding:40px 30px;color:#777;
																		font-weight:300;
																		margin:30px 0;
																		position:relative
																		}blockquote:before,.blockquote:before,blockquote:after,.blockquote:after{
																			content:"";
																			position:absolute;
																			width:70px;
																			height:70px
																			}blockquote:before,.blockquote:before{
																				top:0;
																				left:0;
																				border-left:2px solid #0d7cc9;
																				border-top:2px solid #0d7cc9
																				}blockquote:after,.blockquote:after{
																					bottom:0;
																					right:0;
																					border-right:2px solid #0d7cc9;
																					border-bottom:2px solid #0d7cc9
																					}hr{
																						border:none;
																						border-top:1px solid #ccc;
																						margin:0 0 24px;
																						width:100%
																						}.mr-1{
																							margin-right:1px!important
																							}.mr-3{margin-right:3px!important}.mr-5{margin-right:5px!important}.mr-10{margin-right:10px!important}.mr-15{margin-right:15px!important}.mr-20{margin-right:20px!important}.mr-25{margin-right:25px!important}.mr-30{margin-right:30px!important}.mr-40{margin-right:40px!important}.mr-50{margin-right:50px!important}.ml-1{margin-left:1px!important}.ml-3{margin-left:3px!important}.ml-5{margin-left:5px!important}.ml-10{margin-left:10px!important}.ml-15{margin-left:15px!important}.ml-20{margin-left:20px!important}.ml-25{margin-left:25px!important}.ml-30{margin-left:30px!important}.ml-40{margin-left:40px!important}.ml-50{margin-left:50px!important}.mt-1{margin-top:1px!important}.mt-3{margin-top:3px!important}.mt-5{margin-top:5px!important}.mt-10{margin-top:10px!important}.mt-15{margin-top:15px!important}.mt-20{margin-top:20px!important}.mt-25{margin-top:25px!important}.mt-30{margin-top:30px!important}.mt-40{margin-top:40px!important}.mt-50{margin-top:50px!important}.mt-60{margin-top:60px!important}.mt-70{margin-top:70px!important}.mt-80{margin-top:80px!important}.mt-90{margin-top:90px!important}.mb-1{margin-bottom:1px!important}.mb-5{margin-bottom:5px!important}.mb-10{margin-bottom:10px!important}.mb-15{margin-bottom:15px!important}.mb-16{margin-bottom:16px!important}.mb-20{margin-bottom:20px!important}.mb-25{margin-bottom:25px!important}.mb-30{margin-bottom:30px!important}.mb-40{margin-bottom:40px!important}.mb-50{margin-bottom:50px!important}.mb-60{margin-bottom:60px!important}.mb-70{margin-bottom:70px!important}.mb-80{margin-bottom:80px!important}.mv-5{margin-top:5px!important;margin-bottom:5px!important}.mv-10{margin-top:10px!important;margin-bottom:10px!important}.mv-15{margin-top:15px!important;margin-bottom:15px!important}.mv-20{margin-top:20px!important;margin-bottom:20px!important}.mv-30{margin-top:30px!important;margin-bottom:30px!important}.mv-40{margin-top:40px!important;margin-bottom:40px!important}.mv-50{margin-top:50px!important;margin-bottom:50px!important}.mv-70{margin-top:70px!important;margin-bottom:70px!important}.mh-5{margin-left:5px!important;margin-right:5px!important}.mh-10{margin-left:10px!important;margin-right:10px!important}.mh-15{margin-left:15px!important;margin-right:15px!important}.mh-20{margin-left:20px!important;margin-right:20px!important}.mh-30{margin-left:30px!important;margin-right:30px!important}.mh-40{margin-left:40px!important;margin-right:40px!important}.mh-50{margin-left:50px!important;margin-right:50px!important}.mh-70{margin-left:70px!important;margin-right:70px!important}.margin-5{margin:5px!important}.margin-10{margin:10px!important}.margin-15{margin:15px!important}.margin-20{margin:20px!important}.margin-25{margin:25px!important}.no-magin,ul.no-margin,.margin-0{margin:0!important}.no-mt,.mt-0{margin-top:0!important}.no-mb,.mb-0{margin-bottom:0!important}.no-ml,.ml-0{margin-left:0!important}.no-mr,.mr-0{margin-right:0!important}@media only screen and (max-width:1199px){}@media only screen and (max-width:991px){.mb-10-sm{margin-bottom:10px!important}.mb-15-sm{margin-bottom:15px!important}.mb-20-sm{margin-bottom:20px!important}.mb-25-sm{margin-bottom:25px!important}.mb-30-sm{margin-bottom:30px!important}.mb-40-sm{margin-bottom:40px!important}.mb-50-sm{margin-bottom:50px!important}.mt-10-sm{margin-top:10px!important}.mt-15-sm{margin-top:15px!important}.mt-20-sm{margin-top:20px!important}.mt-25-sm{margin-top:25px!important}.mt-30-sm{margin-top:30px!important}.mt-40-sm{margin-top:40px!important}.mt-50-sm{margin-top:50px!important}}@media only screen and (max-width:767px){.mb-0-xs{margin-bottom:0!important}.mb-10-xs{margin-bottom:10px!important}.mb-15-xs{margin-bottom:15px!important}.mb-20-xs{margin-bottom:20px!important}.mb-25-xs{margin-bottom:25px!important}.mb-30-xs{margin-bottom:30px!important}.mb-40-xs{margin-bottom:40px!important}.mb-50-xs{margin-bottom:50px!important}.mt-0-xs{margin-top:0!important}.mt-10-xs{margin-top:10px!important}.mt-15-xs{margin-top:15px!important}.mt-20-xs{margin-top:20px!important}.mt-25-xs{margin-top:25px!important}.mt-30-xs{margin-top:30px!important}.mt-40-xs{margin-top:40px!important}.mt-50-xs{margin-top:50px!important}}@media(max-width:479px){.mb-0-xss{margin-bottom:0!important}.mb-10-xss{margin-bottom:10px!important}.mb-15-xss{margin-bottom:15px!important}.mb-20-xss{margin-bottom:20px!important}.mb-25-xss{margin-bottom:25px!important}.mb-30-xss{margin-bottom:30px!important}.mb-40-xss{margin-bottom:40px!important}.mb-50-xss{margin-bottom:50px!important}}.pr-5{padding-right:5px!important}.pr-10{padding-right:10px!important}.pr-15{padding-right:15px!important}.pr-20{padding-right:20px!important}.pr-30{padding-right:30px!important}.pr-40{padding-right:40px!important}.pr-50{padding-right:50px!important}.pr-0,.no-pr{padding-right:0!important}.pl-5{padding-left:5px!important}.pl-10{padding-left:10px!important}.pl-15{padding-left:15px!important}.pl-20{padding-left:20px!important}.pl-30{padding-left:30px!important}.pl-40{padding-left:40px!important}.pl-50{padding-left:50px!important}.pl-0,. no-pl{padding-left:0!important}.pt-5{padding-top:5px!important}.pt-10{padding-top:10px!important}.pt-15{padding-top:15px!important}.pt-20{padding-top:20px!important}.pt-25{padding-top:25px!important}.pt-30{padding-top:30px!important}.pt-40{padding-top:40px!important}.pt-50{padding-top:50px!important}.pt-60{padding-top:60px!important}.pt-70{padding-top:70px!important}.pt-80{padding-top:80px!important}.pt-0,.no-pt{padding-top:0!important}.pb-5{padding-bottom:5px!important}.pb-10{padding-bottom:10px!important}.pb-15{padding-bottom:15px!important}.pb-20{padding-bottom:20px!important}.pb-30{padding-bottom:30px!important}.pb-40{padding-bottom:40px!important}.pb-50{padding-bottom:50px!important}.pb-60{padding-bottom:60px!important}.pb-70{padding-bottom:70px!important}.pb-80{padding-bottom:80px!important}.pb-0,.no-pb{padding-bottom:0!important}.pv-5{padding-top:5px!important;padding-bottom:5px!important}.pv-10{padding-top:10px!important;padding-bottom:10px!important}.pv-15{padding-top:15px!important;padding-bottom:15px!important}.pv-20{padding-top:20px!important;padding-bottom:20px!important}.pv-30{padding-top:30px!important;padding-bottom:30px!important}.pv-40{padding-top:40px!important;padding-bottom:40px!important}.pv-50{padding-top:50px!important;padding-bottom:50px!important}.pv-60{padding-top:60px!important;padding-bottom:60px!important}.pv-70{padding-top:70px!important;padding-bottom:70px!important}.no-pv,.pv-0{padding-pv:0!important;padding-bottom:0!important}.ph-5{padding-left:5px!important;padding-right:5px!important}.ph-10{padding-left:10px!important;padding-right:10px!important}.ph-15{padding-left:15px!important;padding-right:15px!important}.ph-20{padding-left:20px!important;padding-right:20px!important}.ph-30{padding-left:30px!important;padding-right:30px!important}.ph-40{padding-left:40px!important;padding-right:40px!important}.ph-50{padding-left:50px!important;padding-right:50px!important}.ph-60{padding-left:60px!important;padding-right:60px!important}.ph-70{padding-left:70px!important;padding-right:70px!important}.no-ph,.ph-0{padding-left:0!important;padding-right:0!important}.padding-5{padding:5px!important}.padding-10{padding:10px!important}.padding-15{padding:15px!important}.padding-20{padding:20px!important}.padding-30{padding:30px!important}.no-padding,.padding-0{padding:0!important}@media only screen and (max-width:1199px){}@media only screen and (max-width:991px){}@media only screen and (max-width:767px){.pt-5-xs{padding-top:5px!important}.pt-10-xs{padding-top:10px!important}.pt-15-xs{padding-top:15px!important}.pt-20-xs{padding-top:20px!important}.pt-25-xs{padding-top:25px!important}.pt-30-xs{padding-top:30px!important}.pt-40-xs{padding-top:40px!important}.pt-50-xs{padding-top:50px!important}.pt-60-xs{padding-top:60px!important}.pt-0-xs,.no-pt-xs{padding-top:0!important}.pb-5-xs{padding-bottom:5px!important}.pb-10-xs{padding-bottom:10px!important}.pb-15-xs{padding-bottom:15px!important}.pb-20-xs{padding-bottom:20px!important}.pb-30-xs{padding-bottom:30px!important}.pb-40-xs{padding-bottom:40px!important}.pb-50-xs{padding-bottom:50px!important}.pb-60-xs{padding-bottom:60px!important}.pb-70-xs{padding-bottom:70px!important}.pb-80-xs{padding-bottom:80px!important}.pb-0-xs,.no-pb-xs{padding-bottom:0!important}}@media(max-width:479px){}.border{border:1px solid #e5e5e5}.bb,.border-bottom{border-bottom:1px solid #e5e5e5}.bt,.border-top{border-top:1px solid #e5e5e5}.br,.border-right{border-right:1px solid #e5e5e5}.bl,.border-left{border-left:1px solid #e5e5e5}.no-border{border:0!important}.absolute{position:absolute;top:0;left:0}.block{display:block}.overflow-hidden{overflow:hidden}.relative{position:relative}.clear{clear:both;width:100%;overflow:hidden}.sm-clear{display:none}.map-wrapper img{max-width:none}.overflow-x-hidden,.hidden-x{overflow-x:hidden}.overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7c000000',endColorstr='#7c000000');-webkit-transition:all .4s ease-in-out 0s;-moz-transition:all .4s ease-in-out 0s;-ms-transition:all .4s ease-in-out 0s;-o-transition:all .4s ease-in-out 0s;transition:all .4s ease-in-out 0s}.map-wrapper img,.widget-map img{max-width:none!important}@media(max-width:479px){.xss-hidden,.hidden-xss{display:none}}ul.list-with-icon{margin-bottom:25px}ul.list-with-icon li{position:relative;padding-left:20px;margin-bottom:20px;line-height:1.6}ul.list-with-icon li>span{display:inline-block;position:relative;padding-left:20px}ul.list-with-icon li i{position:absolute;top:4px;left:0}ul.border-bottom{border-bottom:0}ul.border-bottom li{border-bottom:1px solid #ccc;padding-bottom:10px}ul.border-bottom.dotted li{border-bottom:1px dotted #ccc}ul.border-bottom li:last-child{border-bottom:0}.listing-box{background:#f8f8f8;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.13);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,.13);box-shadow:0 0 5px 0 rgba(0,0,0,.13);border:3px solid #fff}.listing-box h5{line-height:1;margin:0;padding:15px 20px;color:#0d7cc9}ul.listing-box-list{margin:0}ul.listing-box-list li{border-top:1px solid #ebebeb;padding:13px 23px;margin:0 -3px}.container-wrapper{position:relative;padding-top:104px;background:#fff}section,.section{padding:90px 0}.main-wrapper{background:#fff}.with-sidebar{height:100%}.with-sidebar:after{content:"";position:absolute;top:0;bottom:0;right:25%;width:1px;background:#e5e5e5}.sidebar-line{position:absolute;top:0;bottom:0;right:25%;width:1px;background:#e5e5e5}.content-wrapper{width:100%;padding:60px 25px 60px 0}.sidebar-wrapper{width:100%;padding:60px 0 60px 25px}.width-50{width:50%}.width-25{width:25%}.width-20{width:20%}.width-10{width:10%}.row-same-height,.div-same-height{display:table;table-layout:fixed}.col-middle,.content-middle{vertical-align:middle}.col-5-wrapper:before,.col-5-wrapper:after{display:table;content:" "}.col-5-wrapper:after{clear:both}.col-5-wrapper>div{width:20%;float:left}.col-5-wrapper.gap-20{margin-left:-10px;margin-right:-10px}.col-5-wrapper.gap-20>div{padding-left:10px;padding-right:10px}.half-image-content .inner{padding:90px 80px}@media(max-width:991px){.container{width:100%}.container-wrapper{padding-top:90px}.sidebar-line{right:33.3333%}.content-wrapper{padding-right:0}.sidebar-wrapper{padding-left:0}.half-image-content .inner{padding:80px 30px 70px}}@media(max-width:767px){.container-wrapper{padding-top:0}.content-wrapper{padding-top:20px;padding-bottom:10px}.sidebar-wrapper{padding-top:20px;padding-bottom:10px}.col-2-wrapper-sm>div{width:50%!important}.sidebar-line{display:none}.xs-overflow{overflow:hidden}.pull-left-xs{float:left!important}}@media(max-width:479px){.half-image-content .inner{padding:80px 25px 70px}}@media(min-width:768px){.col-sm-height,.content-sm-height{display:table-cell;float:none!important}}.content-wrapper:before,.content-wrapper:after,.sidebar-wrapper:before,.sidebar-wrapper:after{display:table;content:" "}.content-wrapper:after,.sidebar-wrapper:after{clear:both}.equal-content-sidebar-by-gridLex{overflow-x:hidden;overflow-y:hidden}.equal-content-sidebar-by-gridLex .content-wrapper{background:#fff;padding-left:30px;padding-right:0;position:relative}.equal-content-sidebar-by-gridLex .content-wrapper:before{content:"";background:#fff;position:absolute;top:0;bottom:0;right:-999px;width:999px}.equal-content-sidebar-by-gridLex .sidebar-wrapper{background:#fff;padding-left:0;padding-right:30px;position:relative;border-right:1px solid #e5e5e5}.equal-content-sidebar-by-gridLex .sidebar-wrapper:before{content:"";background:#fff;position:absolute;top:0;bottom:0;left:-999px;width:999px}.equal-content-sidebar-by-gridLex.right-sidebar .content-wrapper{padding-left:0;padding-right:30px}.equal-content-sidebar-by-gridLex.right-sidebar .content-wrapper:before{right:auto;left:-999px}.equal-content-sidebar-by-gridLex.right-sidebar .sidebar-wrapper{padding-right:0;padding-left:30px;float:right;border-right:0;border-left:1px solid #e5e5e5}.equal-content-sidebar-by-gridLex.right-sidebar .sidebar-wrapper:before{left:auto;right:-999px}@media only screen and (max-width:1199px){}@media only screen and (max-width:991px){}@media only screen and (max-width:767px){.equal-content-sidebar-by-gridLex .content-wrapper{padding-left:0}.equal-content-sidebar-by-gridLex .sidebar-wrapper{padding-right:0;border-right:0}.equal-content-sidebar-by-gridLex .content-wrapper:after{content:"";background:#fff;position:absolute;top:0;bottom:0;left:-999px;width:999px}.equal-content-sidebar-by-gridLex .sidebar-wrapper:after{content:"";background:#fff;position:absolute;top:0;bottom:0;right:-999px;width:999px}.equal-content-sidebar-by-gridLex.right-sidebar .content-wrapper{padding-right:0}.equal-content-sidebar-by-gridLex.right-sidebar .sidebar-wrapper{padding-left:0;float:right;border-left:0}.equal-content-sidebar-by-gridLex.right-sidebar .content-wrapper:after{left:auto;right:-999px}.equal-content-sidebar-by-gridLex.right-sidebar .sidebar-wrapper:after{right:auto;left:-999px}}@media(max-width:479px){}.delay_0-5{-webkit-animation-delay:.5s;animation-delay:.5s}.delay_1{-webkit-animation-delay:1s;animation-delay:1s}.delay_1-5{-webkit-animation-delay:1.5s;animation-delay:1.5s}.delay_2{-webkit-animation-delay:2s;animation-delay:2s}.delay_2-5{-webkit-animation-delay:2.5s;animation-delay:2.5s}.delay_3{-webkit-animation-delay:3s;animation-delay:3s}.delay_3-5{-webkit-animation-delay:3.5s;animation-delay:3.5s}.delay_4{-webkit-animation-delay:4s;animation-delay:4s}.delay_4-5{-webkit-animation-delay:4.5s;animation-delay:4.5s}.delay_5{-webkit-animation-delay:5s;animation-delay:5s}.row.gap-50{margin-right:-25px;margin-left:-25px}.gap-50 .col-sm-1,.gap-50 .col-sm-2,.gap-50 .col-sm-3,.gap-50 .col-sm-4,.gap-50 .col-sm-5,.gap-50 .col-sm-6,.gap-50 .col-sm-7,.gap-50 .col-sm-8,.gap-50 .col-sm-9,.gap-50 .col-sm-10,.gap-50 .col-sm-11,.gap-50 .col-sm-12,.gap-50 .col-md-1,.gap-50 .col-md-2,.gap-50 .col-md-3,.gap-50 .col-md-4,.gap-50 .col-md-5,.gap-50 .col-md-6,.gap-50 .col-md-7,.gap-50 .col-md-8,.gap-50 .col-md-9,.gap-50 .col-md-10,.gap-50 .col-md-11,.gap-50 .col-md-12{padding-right:25px;padding-left:25px}.row.gap-40{margin-right:-20px;margin-left:-20px}.gap-40 .col-sm-1,.gap-40 .col-sm-2,.gap-40 .col-sm-3,.gap-40 .col-sm-4,.gap-40 .col-sm-5,.gap-40 .col-sm-6,.gap-40 .col-sm-7,.gap-40 .col-sm-8,.gap-40 .col-sm-9,.gap-40 .col-sm-10,.gap-40 .col-sm-11,.gap-40 .col-sm-12,.gap-40 .col-md-1,.gap-40 .col-md-2,.gap-40 .col-md-3,.gap-40 .col-md-4,.gap-40 .col-md-5,.gap-40 .col-md-6,.gap-40 .col-md-7,.gap-40 .col-md-8,.gap-40 .col-md-9,.gap-40 .col-md-10,.gap-40 .col-md-11,.gap-40 .col-md-12{padding-right:20px;padding-left:20px}.row.gap-25{margin-right:-13px;margin-left:-12px}.gap-25 .col-sm-1,.gap-25 .col-sm-2,.gap-25 .col-sm-3,.gap-25 .col-sm-4,.gap-25 .col-sm-5,.gap-25 .col-sm-6,.gap-25 .col-sm-7,.gap-25 .col-sm-8,.gap-25 .col-sm-9,.gap-25 .col-sm-10,.gap-25 .col-sm-11,.gap-25 .col-sm-12,.gap-25 .col-md-1,.gap-25 .col-md-2,.gap-25 .col-md-3,.gap-25 .col-md-4,.gap-25 .col-md-5,.gap-25 .col-md-6,.gap-25 .col-md-7,.gap-25 .col-md-8,.gap-25 .col-md-9,.gap-25 .col-md-10,.gap-25 .col-md-11,.gap-25 .col-md-12{padding-right:13px;padding-left:12px}.row.gap-20{margin-right:-10px;margin-left:-10px}.gap-20 .col-sm-1,.gap-20 .col-sm-2,.gap-20 .col-sm-3,.gap-20 .col-sm-4,.gap-20 .col-sm-5,.gap-20 .col-sm-6,.gap-20 .col-sm-7,.gap-20 .col-sm-8,.gap-20 .col-sm-9,.gap-20 .col-sm-10,.gap-20 .col-sm-11,.gap-20 .col-sm-12,.gap-20 .col-md-1,.gap-20 .col-md-2,.gap-20 .col-md-3,.gap-20 .col-md-4,.gap-20 .col-md-5,.gap-20 .col-md-6,.gap-20 .col-md-7,.gap-20 .col-md-8,.gap-20 .col-md-9,.gap-20 .col-md-10,.gap-20 .col-md-11,.gap-20 .col-md-12{padding-right:10px;padding-left:10px}.row.gap-15{margin-right:-8px;margin-left:-7px}.gap-15 .col-sm-1,.gap-15 .col-sm-2,.gap-15 .col-sm-3,.gap-15 .col-sm-4,.gap-15 .col-sm-5,.gap-15 .col-sm-6,.gap-15 .col-sm-7,.gap-15 .col-sm-8,.gap-15 .col-sm-9,.gap-15 .col-sm-10,.gap-15 .col-sm-11,.gap-15 .col-sm-12,.gap-15 .col-md-1,.gap-15 .col-md-2,.gap-15 .col-md-3,.gap-15 .col-md-4,.gap-15 .col-md-5,.gap-15 .col-md-6,.gap-15 .col-md-7,.gap-15 .col-md-8,.gap-15 .col-md-9,.gap-15 .col-md-10,.gap-15 .col-md-11,.gap-15 .col-md-12{padding-right:8px;padding-left:7px}.row.gap-10{margin-right:-5px;margin-left:-5px}.gap-10 .col-sm-1,.gap-10 .col-sm-2,.gap-10 .col-sm-3,.gap-10 .col-sm-4,.gap-10 .col-sm-5,.gap-10 .col-sm-6,.gap-10 .col-sm-7,.gap-10 .col-sm-8,.gap-10 .col-sm-9,.gap-10 .col-sm-10,.gap-10 .col-sm-11,.gap-10 .col-sm-12,.gap-10 .col-md-1,.gap-10 .col-md-2,.gap-10 .col-md-3,.gap-10 .col-md-4,.gap-10 .col-md-5,.gap-10 .col-md-6,.gap-10 .col-md-7,.gap-10 .col-md-8,.gap-10 .col-md-9,.gap-10 .col-md-10,.gap-10 .col-md-11,.gap-10 .col-md-12{padding-right:5px;padding-left:5px}.row.gap-5{margin-right:-3px;margin-left:-2px}.gap-5 .col-sm-1,.gap-5 .col-sm-2,.gap-5 .col-sm-3,.gap-5 .col-sm-4,.gap-5 .col-sm-5,.gap-5 .col-sm-6,.gap-5 .col-sm-7,.gap-5 .col-sm-8,.gap-5 .col-sm-9,.gap-5 .col-sm-10,.gap-5 .col-sm-11,.gap-5 .col-sm-12,.gap-5 .col-md-1,.gap-5 .col-md-2,.gap-5 .col-md-3,.gap-5 .col-md-4,.gap-5 .col-md-5,.gap-5 .col-md-6,.gap-5 .col-md-7,.gap-5 .col-md-8,.gap-5 .col-md-9,.gap-5 .col-md-10,.gap-5 .col-md-11,.gap-5 .col-md-12{padding-right:3px;padding-left:2px}.row.gap-2{margin-right:-1px;margin-left:-1px}.gap-2 .col-sm-1,.gap-2 .col-sm-2,.gap-2 .col-sm-3,.gap-2 .col-sm-4,.gap-2 .col-sm-5,.gap-2 .col-sm-6,.gap-2 .col-sm-7,.gap-2 .col-sm-8,.gap-2 .col-sm-9,.gap-2 .col-sm-10,.gap-2 .col-sm-11,.gap-2 .col-sm-12,.gap-2 .col-md-1,.gap-2 .col-md-2,.gap-2 .col-md-3,.gap-2 .col-md-4,.gap-2 .col-md-5,.gap-2 .col-md-6,.gap-2 .col-md-7,.gap-2 .col-md-8,.gap-2 .col-md-9,.gap-2 .col-md-10,.gap-2 .col-md-11,.gap-2 .col-md-12{padding-right:1px;padding-left:1px}.row.gap-1{margin-right:-1px;margin-left:0}.gap-1 .col-sm-1,.gap-1 .col-sm-2,.gap-1 .col-sm-3,.gap-1 .col-sm-4,.gap-1 .col-sm-5,.gap-1 .col-sm-6,.gap-1 .col-sm-7,.gap-1 .col-sm-8,.gap-1 .col-sm-9,.gap-1 .col-sm-10,.gap-1 .col-sm-11,.gap-1 .col-sm-12,.gap-1 .col-md-1,.gap-1 .col-md-2,.gap-1 .col-md-3,.gap-1 .col-md-4,.gap-1 .col-md-5,.gap-1 .col-md-6,.gap-1 .col-md-7,.gap-1 .col-md-8,.gap-1 .col-md-9,.gap-1 .col-md-10,.gap-1 .col-md-11,.gap-1 .col-md-12{padding-right:1px;padding-left:0}.row.gap-0,.row.no-gap{margin-right:0;margin-left:0}.gap-0 .col-sm-1,.gap-0 .col-sm-2,.gap-0 .col-sm-3,.gap-0 .col-sm-4,.gap-0 .col-sm-5,.gap-0 .col-sm-6,.gap-0 .col-sm-7,.gap-0 .col-sm-8,.gap-0 .col-sm-9,.gap-0 .col-sm-10,.gap-0 .col-sm-11,.gap-0 .col-sm-12,.no-gap .col-sm-1,.no-gap .col-sm-2,.no-gap .col-sm-3,.no-gap .col-sm-4,.no-gap .col-sm-5,.no-gap .col-sm-6,.no-gap .col-sm-7,.no-gap .col-sm-8,.no-gap .col-sm-9,.no-gap .col-sm-10,.no-gap .col-sm-11,.no-gap .col-sm-12,.gap-0 .col-md-1,.gap-0 .col-md-2,.gap-0 .col-md-3,.gap-0 .col-md-4,.gap-0 .col-md-5,.gap-0 .col-md-6,.gap-0 .col-md-7,.gap-0 .col-md-8,.gap-0 .col-md-9,.gap-0 .col-md-10,.gap-0 .col-md-11,.gap-0 .col-md-12,.no-gap .col-md-1,.no-gap .col-md-2,.no-gap .col-md-3,.no-gap .col-md-4,.no-gap .col-md-5,.no-gap .col-md-6,.no-gap .col-md-7,.no-gap .col-md-8,.no-gap .col-md-9,.no-gap .col-md-10,.no-gap .col-md-11,.no-gap .col-md-12{padding-right:0;padding-left:0}@media only screen and (max-width:1199px){}@media only screen and (max-width:991px){.row.sm-gap-20{margin-right:-10px;margin-left:-10px}.sm-gap-20 .col-sm-1,.sm-gap-20 .col-sm-2,.sm-gap-20 .col-sm-3,.sm-gap-20 .col-sm-4,.sm-gap-20 .col-sm-5,.sm-gap-20 .col-sm-6,.sm-gap-20 .col-sm-7,.sm-gap-20 .col-sm-8,.sm-gap-20 .col-sm-9,.sm-gap-20 .col-sm-10,.sm-gap-20 .col-sm-11,.sm-gap-20 .col-sm-12{padding-right:10px;padding-left:10px}}@media only screen and (max-width:767px){.row.xs-gap-20{margin-right:-10px;margin-left:-10px}.xs-gap-20 .col-md-1,.xs-gap-20 .col-md-2,.xs-gap-20 .col-md-3,.xs-gap-20 .col-md-4,.xs-gap-20 .col-md-5,.xs-gap-20 .col-md-6,.xs-gap-20 .col-md-7,.xs-gap-20 .col-md-8,.xs-gap-20 .col-md-9,.xs-gap-20 .col-md-10,.xs-gap-20 .col-md-11,.xs-gap-20 .col-md-12{padding-right:10px;padding-left:10px}.row.xs-gap-15{margin-right:-8px;margin-left:-7px}.xs-gap-15 .col-md-1,.xs-gap-15 .col-md-2,.xs-gap-15 .col-md-3,.xs-gap-15 .col-md-4,.xs-gap-15 .col-md-5,.xs-gap-15 .col-md-6,.xs-gap-15 .col-md-7,.xs-gap-15 .col-md-8,.xs-gap-15 .col-md-9,.xs-gap-15 .col-md-10,.xs-gap-15 .col-md-11,.xs-gap-15 .col-md-12{padding-right:8px;padding-left:7px}.row.gap-10{margin-right:-5px;margin-left:-5px}.gap-10 .col-md-1,.gap-10 .col-md-2,.gap-10 .col-md-3,.gap-10 .col-md-4,.gap-10 .col-md-5,.gap-10 .col-md-6,.gap-10 .col-md-7,.gap-10 .col-md-8,.gap-10 .col-md-9,.gap-10 .col-md-10,.gap-10 .col-md-11,.gap-10 .col-md-12{padding-right:5px;padding-left:5px}.row.gap-5{margin-right:-3px;margin-left:-2px}.gap-5 .col-md-1,.gap-5 .col-md-2,.gap-5 .col-md-3,.gap-5 .col-md-4,.gap-5 .col-md-5,.gap-5 .col-md-6,.gap-5 .col-md-7,.gap-5 .col-md-8,.gap-5 .col-md-9,.gap-5 .col-md-10,.gap-5 .col-md-11,.gap-5 .col-md-12{padding-right:3px;padding-left:2px}}@media(max-width:479px){.col-xss-12{width:100%}.col-xss-7{width:58.33333333%}.col-xss-6{width:50%}.col-xss-5{width:41.66666667%}.col-xss-4{width:33.33333333%}.col-xss-3{width:25%}}.font10{font-size:10px!important}.font11{font-size:11px!important}.font12{font-size:12px!important}.font13{font-size:13px!important}.font14{font-size:14px!important}.font16{font-size:16px!important}.font18{font-size:18px!important}.font20{font-size:20px!important}.font22{font-size:22px!important}.font24{font-size:24px!important}.font26{font-size:26px!important}.font100{font-weight:100!important}.font200{font-weight:200!important}.font300{font-weight:300!important}.font400{font-weight:400!important}.font500{font-weight:500!important}.font600{font-weight:600!important}.font700{font-weight:700!important}.line16{line-height:16px!important}.line18{line-height:18px!important}.line20{line-height:20px!important}.line22{line-height:22px!important}.line24{line-height:24px!important}.line26{line-height:26px!important}.line28{line-height:28px!important}.line30{line-height:30px!important}.line32{line-height:32px!important}.line34{line-height:34px!important}.spacing-05{letter-spacing:.5px}.spacing-10{letter-spacing:1px}.text-center{text-align:center!important}.text-left{text-align:left!important}.text-right{text-align:right!important}.text-primary{color:#0d7cc9!important}.text-info{color:#3a679a!important}.text-success{color:#469c3b!important}.text-warning{color:#ff8e01!important}.text-danger{color:#db0b23!important}.text-muted{color:#a3a3a3!important}.text-white{color:#fff!important}.link-info{color:#2e8ed7!important}.link-info:hover{color:#287cbd!important}.link-success{color:#68e030!important}.link-success:hover{color:#5cc72a!important}.link-warning{color:#ffc537!important}.link-warning:hover{color:#e6b332!important}.link-danger{color:#ff3755!important}.link-danger:hover{color:#e6324d!important}a.link-alt{color:#ab9f9d}a.link-alt:hover{color:#f04f38}.font-italic{font-style:italic!important}@media only screen and (max-width:1199px){.text-center-mdd{text-align:center!important}.text-left-mdd{text-align:left!important}.text-right-mdd{text-align:right!important}}@media only screen and (max-width:991px){.text-center-sm{text-align:center!important}.text-left-sm{text-align:left!important}.text-right-sm{text-align:right!important}}@media only screen and (max-width:767px){.font19-xs{font-size:19px!important;line-height:1.45!important}.font20-xs{font-size:20px!important;line-height:1.45!important}.text-center-xs{text-align:center!important}.text-left-xs{text-align:left!important}.text-right-xs{text-align:right!important}}@media(max-width:479px){.text-center-xss{text-align:center!important}.text-left-xss{text-align:left!important}.text-right-xss{text-align:right!important}}.section-title{text-align:center;font-family:roboto condensed,sans-serif;margin:0 0 52px}.section-title h2{font-size:38px;line-height:42px;font-weight:300;margin:0}.section-title p{font-family:roboto condensed,sans-serif;font-size:18px;font-weight:300;line-height:30px;margin:34px 0 45px}.section-title p.text-sm{font-size:15px;line-height:1.55;margin:10px 0}@media only screen and (max-width:1199px){}@media only screen and (max-width:991px){}@media only screen and (max-width:767px){.section-title h2{font-size:30px;line-height:1.25}.section-title p{font-size:16px;line-height:1.55}}@media(max-width:479px){.section-title h2{font-size:28px}}.bg-primary{background:#0d7cc9!important;color:#fff!important}.bg-info{background:#055586!important;color:#fff!important}.bg-success{background:#00a652!important;color:#fff!important}.bg-warning{background:#f88006!important;color:#fff!important}.bg-danger{background:#df2938!important;color:#fff!important}.bg-light{background:#f7f7f7!important}.bg-light-02{background:#f2f2f2!important}.bg-dark{background:#444!important;color:#fff}.bg-white{background:#fff!important}.bg-primary h1,.bg-primary h2,.bg-primary h3,.bg-primary h4,.bg-primary h5,.bg-primary h6,.bg-info h1,.bg-info h2,.bg-info h3,.bg-info h4,.bg-info h5,.bg-info h6,.bg-success h1,.bg-success h2,.bg-success h3,.bg-success h4,.bg-success h5,.bg-success h6,.bg-warning h1,.bg-warning h2,.bg-warning h3,.bg-warning h4,.bg-warning h5,.bg-warning h6,.bg-danger h1,.bg-danger h2,.bg-danger h3,.bg-danger h4,.bg-danger h5,.bg-danger h6{color:#fff!important}.bg-img,.image-bg{background-size:cover!important;background-repeat:no;background-position:center center}.overlay-primary:before{background:rgba(13,124,201,.6)!important}.overlay-danger:before{background:rgba(219,11,35,.6)!important}.gr-primary{background:-webkit-linear-gradient(top,#A75EFF 10%,#8624FF 90%);background:-moz-linear-gradient(top,#A75EFF 10%,#8624FF 90%);background:-ms-linear-gradient(top,#A75EFF 10%,#8624FF 90%);background:-o-linear-gradient(top,#A75EFF 10%,#8624FF 90%);background:linear-gradient(top,#A75EFF 10%,#8624FF 90%)}.image-overlay{position:absolute;top:0;left:0;z-index:3;overflow:hidden;width:100%;height:100%;text-align:center;-webkit-transition:opacity .25s ease,background-color .45s ease;transition:opacity .25s ease,background-color .45s ease;background:transparent}.overlay-box:hover .image-overlay{background:rgba(0,0,0,.5)}.image-overlay:before{display:inline-block;height:100%;vertical-align:middle;content:""}.overlay-content{display:inline-block;vertical-align:middle;color:#fff}.overlay-icon{margin-bottom:6px;color:#fff;border:2px solid #fff;padding:10px;border-radius:3px;-webkit-transition:opacity .25s ease,background-color .45s ease;transition:opacity .25s ease,background-color .45s ease;opacity:0;filter:alpha(opacity=0)}.overlay-box:hover .overlay-icon{opacity:1;filter:alpha(opacity=100)}.overlay-icon i{color:#fff;font-size:56px
																							}.btn{
																								-webkit-transition:all .3s;
																								-o-transition:all .3s;
																								transition:all .3s;
																								padding:13px 20px 15px;
																								position:relative;
																								letter-spacing:1.5px;
																								text-transform:uppercase
																								}.btn:after{
																									content:"";
																									position:absolute;
																									left:-1px;
																									right:-1px;
																									bottom:-1px;
																									height:4px;
																									border-radius:0 0 4px 4px;
																									background:rgba(0,0,0,.15)
																									}.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus{
																										outline:none;
																										outline:none
																										}.btn:hover,.btn:focus,.btn.focus{
																											color:#333;
																											text-decoration:none
																											}.btn:active,.btn.active{
																												-webkit-box-shadow:none;
																												box-shadow:none
																												}.btn:hover,.btn:focus,.btn:active,.btn:active:focus{
																													-webkit-box-shadow:none;
																													box-shadow:none;
																													outline:none
																													}.btn.radius{
																														border-radius:5px
																														}.btn-dark{
																															background:#787878;
																															border-color:#787878;
																															color:#fff
																															}.btn-dark:hover{
																																background:#636363;
																																border-color:#636363
																																}.btn-primary{
																																	background:#0d7cc9;
																																	border-color:#0d7cc9;
																																	color:#fff
																																	}.btn-primary:hover{
																																		background:#0b6aab;
																																		border-color:#0b6aab;
																																		color:#fff
																																		}.btn-info{
																																			background:#2e8ed7;
																																			border-color:#2e8ed7;
																																			color:#fff
																																			}.btn-info:hover{
																																				background:#4477b2;
																																				border-color:#4477b2;
																																				color:#fff
																																				}.btn-success{
																																					background:#469c3b;
																																					border-color:#469c3b;
																																					color:#fff
																																					}.btn-success:hover{
																																						background:#52b545;
																																						border-color:#52b545;
																																						color:#fff
																																						}.btn-warning{
																																							background:#ff8e01;
																																							border-color:#ff8e01;
																																							color:#fff
																																							}.btn-warning:hover{
																																								background:#ffaf4d;
																																								border-color:#ffaf4d;
																																								color:#fff
																																								}.btn-danger{
																																									background:#db0b23;
																																									border-color:#db0b23;
																																									color:#fff
																																									}.btn-danger:hover{
																																										background:#ba091e;
																																										border-color:#ba091e;
																																										color:#fff
																																										}.btn-primary:focus,.btn-info:focus,.btn-success:focus,.btn-warning:focus,.btn-danger:focus{
																																											color:#fff
																																											}.btn-social i{
																																												font-size:17px
																																												}.btn-facebook{
																																													background:#3b5998;
																																													border-color:#3b5998
																																													}.btn-google-plus{
																																														background:#dd4b39;
																																														border-color:#dd4b39
																																														}.btn-app{
																																															text-align:left;
																																															font-size:12px;
																																															line-height:1;
																																															background:#222;
																																															padding:13px 15px 11px;
																																															border:0;
																																															letter-spacing:0;
																																															margin-right:0
																																															}.btn-app:after{
																																																display:none
																																																}.btn-app .icon{
																																																	display:block;
																																																	float:left;
																																																	font-size:36px;
																																																	line-height:1;
																																																	margin-right:7px
																																																	}.btn-app .content{
																																																		display:block;
																																																		float:left;
																																																		padding-top:3px
																																																		}.btn-app .content>span{
																																																			font-size:20px;
																																																			font-weight:700
																																																			}.btn-primary.btn-inverse,.btn-info.btn-inverse,.btn-success.btn-inverse,.btn-warning.btn-inverse,.btn-danger.btn-inverse{
																																																				background:0 0
																																																				}.btn-primary.btn-inverse{
																																																					color:#0d7cc9
																																																					}.btn-primary.btn-inverse:hover{
																																																						color:#fff!important;
																																																						background:#0d7cc9
																																																						}.btn-primary.btn-inverse:focus{
																																																							border-color:#0d7cc9!important
																																																							}.btn-inverse:after{
																																																								display:none!important
																																																								}.btn-info.btn-inverse{
																																																									color:#2e8ed7!important
																																																									}.btn-info.btn-inverse:after{
																																																										background:#2779b7
																																																										}.btn-success.btn-inverse{
																																																											color:#68e030!important
																																																											}.btn-success.btn-inverse:after{
																																																												background:#5a8532
																																																												}.btn-warning.btn-inverse{
																																																													color:#ffc537!important
																																																													}.btn-warning.btn-inverse:after{
																																																														background:#d97901
																																																														}.btn-danger.btn-inverse{
																																																															color:#ff3755!important
																																																															}.btn-danger.btn-inverse:after{
																																																																background:#d92f48
																																																																}.btn-primary.btn-inverse:hover{
																																																																	color:#462147;
																																																																	border-color:#462147
																																																																	}.btn-info.btn-inverse:hover{
																																																																		color:#287cbd;
																																																																		border-color:#287cbd
																																																																		}.btn-success.btn-inverse:hover{
																																																																			color:#5cc72a;
																																																																			border-color:#5cc72a
																																																																			}.btn-warning.btn-inverse:hover{
																																																																				color:#e6b332;
																																																																				border-color:#e6b332
																																																																				}.btn-danger.btn-inverse:hover{
																																																																					color:#e6324d;
																																																																					border-color:#e6324d
																																																																					}.btn-more-less{
																																																																						background:0 0;
																																																																						padding:0;
																																																																						font-size:10px;
																																																																						text-transform:uppercase;
																																																																						color:#0d7cc9;
																																																																						font-weight:700;
																																																																						font-family:open sans,sans-serif;
																																																																						letter-spacing:2px
																																																																						}.btn-more-less:hover,.btn-more-less:focus,.btn-more-less:active{
																																																																							color:#329be6
																																																																							}.btn-more-less:after{
																																																																								display:none
																																																																								}.btn-sm{
																																																																									height:30px;
																																																																									padding-top:6px;
																																																																									font-size:11px
																																																																									}.btn-lg{
																																																																										height:48px;
																																																																										padding-top:11px
																																																																										}.btn-form{
																																																																											height:40px;
																																																																											padding-top:9px;
																																																																											padding-bottom:10px
																																																																											}.btn-sm.btn-form{
																																																																												height:30px;
																																																																												padding-top:7px;
																																																																												padding-bottom:7px;
																																																																												font-size:11px;
																																																																												letter-spacing:2px
																																																																												}.btn-lg.btn-form{
																																																																													height:46px;
																																																																													padding-top:10px;
																																																																													padding-bottom:7px
																																																																													}.form-control{
																																																																														border-radius:0!important;
																																																																														box-shadow:none;
																																																																														height:40px;
																																																																														border-color:#ccc;
																																																																														font-size:13px
																																																																														}.form-control:focus{
																																																																															border-color:#0d7cc9;
																																																																															outline:0;
																																																																															-webkit-box-shadow:none;
																																																																															box-shadow:none
																																																																															}.form-icon{
																																																																																position:relative
																																																																																}.form-icon .form-control{
																																																																																	padding-left:28px
																																																																																	}.form-icon i{
																																																																																		position:absolute;
																																																																																		bottom:11px;
																																																																																		left:10px;
																																																																																		color:#999
																																																																																		}.input-group .input-group-btn .btn{
																																																																																			padding-top:9px;
																																																																																			padding-bottom:9px
																																																																																			}.input-group .input-group-btn .btn.btn-default{
																																																																																				border-color:#e5e5e5
																																																																																				}.input-group .input-group-btn .btn:after{
																																																																																					display:none
																																																																																					}.input-group-addon{
																																																																																						border-color:#ccc
																																																																																						}@media only screen and (max-width:1199px){}@media only screen and (max-width:991px){}@media only screen and (max-width:767px){}@media(max-width:479px){}
																																																																																						.social-media{
																																																																																							margin-bottom:20px
																																																																																							}
.social-media a{
    font-size:15px;
    line-height:15px;
    color:#636363;
    text-decoration:none;
    margin-right:20px;
    -webkit-transition:all .3s;
    transition:all .3s}.social-media a:last-child {
                           margin-right:0
                       }.social-media a.adobe-reader:hover{
                                                   color:#a42222!important
                                               }.social-media a.amazon:hover{
                                                                                                   color:#fe9608!important
                                                                                               }.social-media a.android:hover{color:#a4c639!important}.social-media a.apple:hover{color:#d6d7cf!important}.social-media a.badoo:hover{color:#f17834!important}.social-media a.behance:hover{color:#1e69e1!important}.social-media a.blogger:hover{color:#f26c37!important}.social-media a.blueetooth:hover{color:#0a3d91!important}.social-media a.chrome:hover{color:#ecc31d!important}.social-media a.css:hover{color:#14a0dd!important}.social-media a.deezer:hover{color:#ff0090!important}.social-media a.delicious:hover{color:#4088da!important}.social-media a.deviantart:hover{color:#b6ca2a!important}.social-media a.digg:hover{color:#006094!important}.social-media a.dribble:hover{color:#f26798!important}.social-media a.dropbox:hover{color:#007de4!important}.social-media a.drupal:hover{color:#3677ad!important}.social-media a.email:hover{color:#000!important}.social-media a.facebook:hover{color:#3b5998!important}.social-media a.firefox:hover{color:#3194cb!important}.social-media a.flickr:hover{color:#0062dd!important}.social-media a.google:hover{color:#c63427!important}.social-media a.html:hover{color:#f06129!important}.social-media a.instagram:hover{color:#a07459!important}.social-media a.internet-explorer:hover{color:#20bcee!important}.social-media a.itunes:hover{color:#169bf0!important}.social-media a.java:hover{color:#e66e00!important}.social-media a.joomla:hover{color:#5aa526!important}.social-media a.last-fm:hover{color:#f73600!important}.social-media a.linkedin:hover{color:#0077b5!important}.social-media a.linux:hover{color:#000!important}.social-media a.myspace:hover{color:#039!important}.social-media a.opera:hover{color:#c10d0c!important}.social-media a.outlook:hover{color:#0073c6!important}.social-media a.paypal:hover{color:#193866!important}.social-media a.picasa:hover{color:#8b689f!important}.social-media a.pinterest:hover{color:#f71819!important}.social-media a.reddit:hover{color:#ff4500!important}.social-media a.rss:hover{color:#fb7629!important}.social-media a.safari:hover{color:#00a9ec!important}.social-media a.share:hover{color:#010101!important}.social-media a.skype:hover{color:#00abeb!important}.social-media a.soundcloud:hover{color:#ff3b00!important}.social-media a.spotify:hover{color:#9ac600!important}.social-media a.steam:hover{color:#020202!important}.social-media a.tumblr:hover{color:#34465d!important}.social-media a.twitter:hover{color:#5ea9dd!important}.social-media a.utorent:hover{color:#269036!important}.social-media a.vimeo:hover{color:#1ca7cc!important}.social-media a.vine:hover{color:#02c594!important}.social-media a.vk:hover{color:#4c75a3!important}.social-media a.weibo:hover{color:#d52b2b!important}.social-media a.weixin:hover{color:#f03c48!important}.social-media a.whatsapp:hover{color:#11ae09!important}.social-media a.wikipedia:hover{color:#363636!important}.social-media a.windows:hover{color:#00abf3!important}.social-media a.word:hover{color:#2a5699!important}.social-media a.wordpress:hover{color:#464646!important}.social-media a.xing:hover{color:#005d5e!important}.social-media a.yahoo:hover{color:#44029a!important}.social-media a.youtube:hover{color:#e22d24!important}[class*=GridLex-grid]{box-sizing:border-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;margin:0}.GridLex-col,[class*=GridLex-col-]{box-sizing:border-box;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding:0}.GridLex-col{-webkit-flex:1 1 0;-ms-flex:1 1 0;flex:1 1 0}.GridLex-grid.GridLex-col,.GridLex-grid[class*=GridLex-col-]{margin:0;padding:0}[class*=GridLex-grid-][class*=-noGutter]{margin:0}[class*=GridLex-grid-][class*=-noGutter]>[class*=GridLex-col]{padding:0}[class*=GridLex-grid-][class*=-center]{-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}[class*=GridLex-grid-][class*=-right]{-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end;margin-left:auto}[class*=GridLex-grid-][class*=-top]{-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}[class*=GridLex-grid-][class*=-middle]{-webkit-align-items:center;-ms-flex-align:center;align-items:center}[class*=GridLex-grid-][class*=-bottom]{-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}[class*=GridLex-grid-][class*=-reverse]{-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}[class*=GridLex-grid-][class*=-column]{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}[class*=GridLex-grid-][class*=-column-reverse]{-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}[class*=GridLex-grid-][class*=-spaceBetween]{-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}[class*=GridLex-grid-][class*=-spaceAround]{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}[class*=GridLex-grid-][class*=-equalHeight]>[class*=GridLex-col]{display:-webkit-flex;display:-ms-flexbox;display:flex}[class*=GridLex-col-][class*=-top]{-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start}[class*=GridLex-col-][class*=-middle]{-webkit-align-self:center;-ms-flex-item-align:center;align-self:center}[class*=GridLex-col-][class*=-bottom]{-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end}[class*=GridLex-col-][class*=-first]{-webkit-order:-1;-ms-flex-order:-1;order:-1}[class*=GridLex-col-][class*=-last]{-webkit-order:1;-ms-flex-order:1;order:1}[class*=GridLex-grid-1]>[class*=GridLex-col]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=GridLex-grid-2]>[class*=GridLex-col]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=GridLex-grid-3]>[class*=GridLex-col]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=GridLex-grid-4]>[class*=GridLex-col]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=GridLex-grid-5]>[class*=GridLex-col]{-webkit-flex-basis:20%;-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}[class*=GridLex-grid-6]>[class*=GridLex-col]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=GridLex-grid-7]>[class*=GridLex-col]{-webkit-flex-basis:14.28571429%;-ms-flex-preferred-size:14.28571429%;flex-basis:14.28571429%;max-width:14.28571429%}[class*=GridLex-grid-8]>[class*=GridLex-col]{-webkit-flex-basis:12.5%;-ms-flex-preferred-size:12.5%;flex-basis:12.5%;max-width:12.5%}[class*=GridLex-grid-9]>[class*=GridLex-col]{-webkit-flex-basis:11.11111111%;-ms-flex-preferred-size:11.11111111%;flex-basis:11.11111111%;max-width:11.11111111%}[class*=GridLex-grid-10]>[class*=GridLex-col]{-webkit-flex-basis:10%;-ms-flex-preferred-size:10%;flex-basis:10%;max-width:10%}[class*=GridLex-grid-11]>[class*=GridLex-col]{-webkit-flex-basis:9.09090909%;-ms-flex-preferred-size:9.09090909%;flex-basis:9.09090909%;max-width:9.09090909%}[class*=GridLex-grid-12]>[class*=GridLex-col]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}@media screen and (max-width:80em){[class*=_lg-1]>[class*=GridLex-col]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=_lg-2]>[class*=GridLex-col]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=_lg-3]>[class*=GridLex-col]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=_lg-4]>[class*=GridLex-col]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=_lg-5]>[class*=GridLex-col]{-webkit-flex-basis:20%;-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}[class*=_lg-6]>[class*=GridLex-col]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=_lg-7]>[class*=GridLex-col]{-webkit-flex-basis:14.28571429%;-ms-flex-preferred-size:14.28571429%;flex-basis:14.28571429%;max-width:14.28571429%}[class*=_lg-8]>[class*=GridLex-col]{-webkit-flex-basis:12.5%;-ms-flex-preferred-size:12.5%;flex-basis:12.5%;max-width:12.5%}[class*=_lg-9]>[class*=GridLex-col]{-webkit-flex-basis:11.11111111%;-ms-flex-preferred-size:11.11111111%;flex-basis:11.11111111%;max-width:11.11111111%}[class*=_lg-10]>[class*=GridLex-col]{-webkit-flex-basis:10%;-ms-flex-preferred-size:10%;flex-basis:10%;max-width:10%}[class*=_lg-11]>[class*=GridLex-col]{-webkit-flex-basis:9.09090909%;-ms-flex-preferred-size:9.09090909%;flex-basis:9.09090909%;max-width:9.09090909%}[class*=_lg-12]>[class*=GridLex-col]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}}@media screen and (max-width:64em){[class*=_md-1]>[class*=GridLex-col]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=_md-2]>[class*=GridLex-col]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=_md-3]>[class*=GridLex-col]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=_md-4]>[class*=GridLex-col]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=_md-5]>[class*=GridLex-col]{-webkit-flex-basis:20%;-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}[class*=_md-6]>[class*=GridLex-col]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=_md-7]>[class*=GridLex-col]{-webkit-flex-basis:14.28571429%;-ms-flex-preferred-size:14.28571429%;flex-basis:14.28571429%;max-width:14.28571429%}[class*=_md-8]>[class*=GridLex-col]{-webkit-flex-basis:12.5%;-ms-flex-preferred-size:12.5%;flex-basis:12.5%;max-width:12.5%}[class*=_md-9]>[class*=GridLex-col]{-webkit-flex-basis:11.11111111%;-ms-flex-preferred-size:11.11111111%;flex-basis:11.11111111%;max-width:11.11111111%}[class*=_md-10]>[class*=GridLex-col]{-webkit-flex-basis:10%;-ms-flex-preferred-size:10%;flex-basis:10%;max-width:10%}[class*=_md-11]>[class*=GridLex-col]{-webkit-flex-basis:9.09090909%;-ms-flex-preferred-size:9.09090909%;flex-basis:9.09090909%;max-width:9.09090909%}[class*=_md-12]>[class*=GridLex-col]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}}@media screen and (max-width:48em){[class*=_sm-1]>[class*=col]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=_sm-2]>[class*=col]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=_sm-3]>[class*=col]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=_sm-4]>[class*=col]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=_sm-5]>[class*=col]{-webkit-flex-basis:20%;-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}[class*=_sm-6]>[class*=col]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=_sm-7]>[class*=col]{-webkit-flex-basis:14.28571429%;-ms-flex-preferred-size:14.28571429%;flex-basis:14.28571429%;max-width:14.28571429%}[class*=_sm-8]>[class*=col]{-webkit-flex-basis:12.5%;-ms-flex-preferred-size:12.5%;flex-basis:12.5%;max-width:12.5%}[class*=_sm-9]>[class*=col]{-webkit-flex-basis:11.11111111%;-ms-flex-preferred-size:11.11111111%;flex-basis:11.11111111%;max-width:11.11111111%}[class*=_sm-10]>[class*=col]{-webkit-flex-basis:10%;-ms-flex-preferred-size:10%;flex-basis:10%;max-width:10%}[class*=_sm-11]>[class*=col]{-webkit-flex-basis:9.09090909%;-ms-flex-preferred-size:9.09090909%;flex-basis:9.09090909%;max-width:9.09090909%}[class*=_sm-12]>[class*=col]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}}@media screen and (max-width:35.5em){[class*=_xs-1]>[class*=GridLex-col]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=_xs-2]>[class*=GridLex-col]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=_xs-3]>[class*=GridLex-col]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=_xs-4]>[class*=GridLex-col]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=_xs-5]>[class*=GridLex-col]{-webkit-flex-basis:20%;-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}[class*=_xs-6]>[class*=GridLex-col]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=_xs-7]>[class*=GridLex-col]{-webkit-flex-basis:14.28571429%;-ms-flex-preferred-size:14.28571429%;flex-basis:14.28571429%;max-width:14.28571429%}[class*=_xs-8]>[class*=GridLex-col]{-webkit-flex-basis:12.5%;-ms-flex-preferred-size:12.5%;flex-basis:12.5%;max-width:12.5%}[class*=_xs-9]>[class*=GridLex-col]{-webkit-flex-basis:11.11111111%;-ms-flex-preferred-size:11.11111111%;flex-basis:11.11111111%;max-width:11.11111111%}[class*=_xs-10]>[class*=GridLex-col]{-webkit-flex-basis:10%;-ms-flex-preferred-size:10%;flex-basis:10%;max-width:10%}[class*=_xs-11]>[class*=GridLex-col]{-webkit-flex-basis:9.09090909%;-ms-flex-preferred-size:9.09090909%;flex-basis:9.09090909%;max-width:9.09090909%}[class*=_xs-12]>[class*=GridLex-col]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}}[class*=GridLex-grid]>[class*=GridLex-col-1]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}[class*=GridLex-grid]>[class*=GridLex-col-2]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=GridLex-grid]>[class*=GridLex-col-3]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=GridLex-grid]>[class*=GridLex-col-4]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=GridLex-grid]>[class*=GridLex-col-5]{-webkit-flex-basis:41.66666667%;-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}[class*=GridLex-grid]>[class*=GridLex-col-6]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=GridLex-grid]>[class*=GridLex-col-7]{-webkit-flex-basis:58.33333333%;-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}[class*=GridLex-grid]>[class*=GridLex-col-8]{-webkit-flex-basis:66.66666667%;-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}[class*=GridLex-grid]>[class*=GridLex-col-9]{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}[class*=GridLex-grid]>[class*=GridLex-col-10]{-webkit-flex-basis:83.33333333%;-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}[class*=GridLex-grid]>[class*=GridLex-col-11]{-webkit-flex-basis:91.66666667%;-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}[class*=GridLex-grid]>[class*=GridLex-col-12]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=GridLex-grid]>[push-left*=off-0]{margin-left:0}[class*=GridLex-grid]>[push-left*=off-1]{margin-left:8.33333333%}[class*=GridLex-grid]>[push-left*=off-2]{margin-left:16.66666667%}[class*=GridLex-grid]>[push-left*=off-3]{margin-left:25%}[class*=GridLex-grid]>[push-left*=off-4]{margin-left:33.33333333%}[class*=GridLex-grid]>[push-left*=off-5]{margin-left:41.66666667%}[class*=GridLex-grid]>[push-left*=off-6]{margin-left:50%}[class*=GridLex-grid]>[push-left*=off-7]{margin-left:58.33333333%}[class*=GridLex-grid]>[push-left*=off-8]{margin-left:66.66666667%}[class*=GridLex-grid]>[push-left*=off-9]{margin-left:75%}[class*=GridLex-grid]>[push-left*=off-10]{margin-left:83.33333333%}[class*=GridLex-grid]>[push-left*=off-11]{margin-left:91.66666667%}[class*=GridLex-grid]>[push-right*=off-0]{margin-right:0}[class*=GridLex-grid]>[push-right*=off-1]{margin-right:8.33333333%}[class*=GridLex-grid]>[push-right*=off-2]{margin-right:16.66666667%}[class*=GridLex-grid]>[push-right*=off-3]{margin-right:25%}[class*=GridLex-grid]>[push-right*=off-4]{margin-right:33.33333333%}[class*=GridLex-grid]>[push-right*=off-5]{margin-right:41.66666667%}[class*=GridLex-grid]>[push-right*=off-6]{margin-right:50%}[class*=GridLex-grid]>[push-right*=off-7]{margin-right:58.33333333%}[class*=GridLex-grid]>[push-right*=off-8]{margin-right:66.66666667%}[class*=GridLex-grid]>[push-right*=off-9]{margin-right:75%}[class*=GridLex-grid]>[push-right*=off-10]{margin-right:83.33333333%}[class*=GridLex-grid]>[push-right*=off-11]{margin-right:91.66666667%}@media screen and (max-width:80em){[class*=GridLex-grid]>[class*=_lg-1]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}[class*=GridLex-grid]>[class*=_lg-2]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=GridLex-grid]>[class*=_lg-3]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=GridLex-grid]>[class*=_lg-4]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=GridLex-grid]>[class*=_lg-5]{-webkit-flex-basis:41.66666667%;-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}[class*=GridLex-grid]>[class*=_lg-6]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=GridLex-grid]>[class*=_lg-7]{-webkit-flex-basis:58.33333333%;-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}[class*=GridLex-grid]>[class*=_lg-8]{-webkit-flex-basis:66.66666667%;-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}[class*=GridLex-grid]>[class*=_lg-9]{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}[class*=GridLex-grid]>[class*=_lg-10]{-webkit-flex-basis:83.33333333%;-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}[class*=GridLex-grid]>[class*=_lg-11]{-webkit-flex-basis:91.66666667%;-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}[class*=GridLex-grid]>[class*=_lg-12]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=GridLex-grid]>[push-left*=_lg-0]{margin-left:0}[class*=GridLex-grid]>[push-left*=_lg-1]{margin-left:8.33333333%}[class*=GridLex-grid]>[push-left*=_lg-2]{margin-left:16.66666667%}[class*=GridLex-grid]>[push-left*=_lg-3]{margin-left:25%}[class*=GridLex-grid]>[push-left*=_lg-4]{margin-left:33.33333333%}[class*=GridLex-grid]>[push-left*=_lg-5]{margin-left:41.66666667%}[class*=GridLex-grid]>[push-left*=_lg-6]{margin-left:50%}[class*=GridLex-grid]>[push-left*=_lg-7]{margin-left:58.33333333%}[class*=GridLex-grid]>[push-left*=_lg-8]{margin-left:66.66666667%}[class*=GridLex-grid]>[push-left*=_lg-9]{margin-left:75%}[class*=GridLex-grid]>[push-left*=_lg-10]{margin-left:83.33333333%}[class*=GridLex-grid]>[push-left*=_lg-11]{margin-left:91.66666667%}[class*=GridLex-grid]>[push-right*=_lg-0]{margin-right:0}[class*=GridLex-grid]>[push-right*=_lg-1]{margin-right:8.33333333%}[class*=GridLex-grid]>[push-right*=_lg-2]{margin-right:16.66666667%}[class*=GridLex-grid]>[push-right*=_lg-3]{margin-right:25%}[class*=GridLex-grid]>[push-right*=_lg-4]{margin-right:33.33333333%}[class*=GridLex-grid]>[push-right*=_lg-5]{margin-right:41.66666667%}[class*=GridLex-grid]>[push-right*=_lg-6]{margin-right:50%}[class*=GridLex-grid]>[push-right*=_lg-7]{margin-right:58.33333333%}[class*=GridLex-grid]>[push-right*=_lg-8]{margin-right:66.66666667%}[class*=GridLex-grid]>[push-right*=_lg-9]{margin-right:75%}[class*=GridLex-grid]>[push-right*=_lg-10]{margin-right:83.33333333%}[class*=GridLex-grid]>[push-right*=_lg-11]{margin-right:91.66666667%}}@media screen and (max-width:64em){[class*=GridLex-grid]>[class*=_md-1]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}[class*=GridLex-grid]>[class*=_md-2]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=GridLex-grid]>[class*=_md-3]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=GridLex-grid]>[class*=_md-4]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=GridLex-grid]>[class*=_md-5]{-webkit-flex-basis:41.66666667%;-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}[class*=GridLex-grid]>[class*=_md-6]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=GridLex-grid]>[class*=_md-7]{-webkit-flex-basis:58.33333333%;-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}[class*=GridLex-grid]>[class*=_md-8]{-webkit-flex-basis:66.66666667%;-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}[class*=GridLex-grid]>[class*=_md-9]{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}[class*=GridLex-grid]>[class*=_md-10]{-webkit-flex-basis:83.33333333%;-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}[class*=GridLex-grid]>[class*=_md-11]{-webkit-flex-basis:91.66666667%;-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}[class*=GridLex-grid]>[class*=_md-12]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=GridLex-grid]>[push-left*=_md-0]{margin-left:0}[class*=GridLex-grid]>[push-left*=_md-1]{margin-left:8.33333333%}[class*=GridLex-grid]>[push-left*=_md-2]{margin-left:16.66666667%}[class*=GridLex-grid]>[push-left*=_md-3]{margin-left:25%}[class*=GridLex-grid]>[push-left*=_md-4]{margin-left:33.33333333%}[class*=GridLex-grid]>[push-left*=_md-5]{margin-left:41.66666667%}[class*=GridLex-grid]>[push-left*=_md-6]{margin-left:50%}[class*=GridLex-grid]>[push-left*=_md-7]{margin-left:58.33333333%}[class*=GridLex-grid]>[push-left*=_md-8]{margin-left:66.66666667%}[class*=GridLex-grid]>[push-left*=_md-9]{margin-left:75%}[class*=GridLex-grid]>[push-left*=_md-10]{margin-left:83.33333333%}[class*=GridLex-grid]>[push-left*=_md-11]{margin-left:91.66666667%}[class*=GridLex-grid]>[push-right*=_md-0]{margin-right:0}[class*=GridLex-grid]>[push-right*=_md-1]{margin-right:8.33333333%}[class*=GridLex-grid]>[push-right*=_md-2]{margin-right:16.66666667%}[class*=GridLex-grid]>[push-right*=_md-3]{margin-right:25%}[class*=GridLex-grid]>[push-right*=_md-4]{margin-right:33.33333333%}[class*=GridLex-grid]>[push-right*=_md-5]{margin-right:41.66666667%}[class*=GridLex-grid]>[push-right*=_md-6]{margin-right:50%}[class*=GridLex-grid]>[push-right*=_md-7]{margin-right:58.33333333%}[class*=GridLex-grid]>[push-right*=_md-8]{margin-right:66.66666667%}[class*=GridLex-grid]>[push-right*=_md-9]{margin-right:75%}[class*=GridLex-grid]>[push-right*=_md-10]{margin-right:83.33333333%}[class*=GridLex-grid]>[push-right*=_md-11]{margin-right:91.66666667%}}@media only screen and (max-width:1199px){[class*=GridLex-grid]>[class*=_mdd-1]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}[class*=GridLex-grid]>[class*=_mdd-2]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=GridLex-grid]>[class*=_mdd-3]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=GridLex-grid]>[class*=_mdd-4]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=GridLex-grid]>[class*=_mdd-5]{-webkit-flex-basis:41.66666667%;-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}[class*=GridLex-grid]>[class*=_mdd-6]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=GridLex-grid]>[class*=_mdd-7]{-webkit-flex-basis:58.33333333%;-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}[class*=GridLex-grid]>[class*=_mdd-8]{-webkit-flex-basis:66.66666667%;-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}[class*=GridLex-grid]>[class*=_mdd-9]{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}[class*=GridLex-grid]>[class*=_mdd-10]{-webkit-flex-basis:83.33333333%;-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}[class*=GridLex-grid]>[class*=_mdd-11]{-webkit-flex-basis:91.66666667%;-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}[class*=GridLex-grid]>[class*=_mdd-12]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=GridLex-grid]>[push-left*=_mdd-0]{margin-left:0}[class*=GridLex-grid]>[push-left*=_mdd-1]{margin-left:8.33333333%}[class*=GridLex-grid]>[push-left*=_mdd-2]{margin-left:16.66666667%}[class*=GridLex-grid]>[push-left*=_mdd-3]{margin-left:25%}[class*=GridLex-grid]>[push-left*=_mdd-4]{margin-left:33.33333333%}[class*=GridLex-grid]>[push-left*=_mdd-5]{margin-left:41.66666667%}[class*=GridLex-grid]>[push-left*=_mdd-6]{margin-left:50%}[class*=GridLex-grid]>[push-left*=_mdd-7]{margin-left:58.33333333%}[class*=GridLex-grid]>[push-left*=_mdd-8]{margin-left:66.66666667%}[class*=GridLex-grid]>[push-left*=_mdd-9]{margin-left:75%}[class*=GridLex-grid]>[push-left*=_mdd-10]{margin-left:83.33333333%}[class*=GridLex-grid]>[push-left*=_mdd-11]{margin-left:91.66666667%}[class*=GridLex-grid]>[push-right*=_mdd-0]{margin-right:0}[class*=GridLex-grid]>[push-right*=_mdd-1]{margin-right:8.33333333%}[class*=GridLex-grid]>[push-right*=_mdd-2]{margin-right:16.66666667%}[class*=GridLex-grid]>[push-right*=_mdd-3]{margin-right:25%}[class*=GridLex-grid]>[push-right*=_mdd-4]{margin-right:33.33333333%}[class*=GridLex-grid]>[push-right*=_mdd-5]{margin-right:41.66666667%}[class*=GridLex-grid]>[push-right*=_mdd-6]{margin-right:50%}[class*=GridLex-grid]>[push-right*=_mdd-7]{margin-right:58.33333333%}[class*=GridLex-grid]>[push-right*=_mdd-8]{margin-right:66.66666667%}[class*=GridLex-grid]>[push-right*=_mdd-9]{margin-right:75%}[class*=GridLex-grid]>[push-right*=_mdd-10]{margin-right:83.33333333%}[class*=GridLex-grid]>[push-right*=_mdd-11]{margin-right:91.66666667%}}@media only screen and (max-width:991px){[class*=GridLex-grid]>[class*=_sm-1]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}[class*=GridLex-grid]>[class*=_sm-2]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=GridLex-grid]>[class*=_sm-3]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=GridLex-grid]>[class*=_sm-4]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=GridLex-grid]>[class*=_sm-5]{-webkit-flex-basis:41.66666667%;-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}[class*=GridLex-grid]>[class*=_sm-6]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=GridLex-grid]>[class*=_sm-7]{-webkit-flex-basis:58.33333333%;-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}[class*=GridLex-grid]>[class*=_sm-8]{-webkit-flex-basis:66.66666667%;-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}[class*=GridLex-grid]>[class*=_sm-9]{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}[class*=GridLex-grid]>[class*=_sm-10]{-webkit-flex-basis:83.33333333%;-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}[class*=GridLex-grid]>[class*=_sm-11]{-webkit-flex-basis:91.66666667%;-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}[class*=GridLex-grid]>[class*=_sm-12]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=GridLex-grid]>[push-left*=_sm-0]{margin-left:0}[class*=GridLex-grid]>[push-left*=_sm-1]{margin-left:8.33333333%}[class*=GridLex-grid]>[push-left*=_sm-2]{margin-left:16.66666667%}[class*=GridLex-grid]>[push-left*=_sm-3]{margin-left:25%}[class*=GridLex-grid]>[push-left*=_sm-4]{margin-left:33.33333333%}[class*=GridLex-grid]>[push-left*=_sm-5]{margin-left:41.66666667%}[class*=GridLex-grid]>[push-left*=_sm-6]{margin-left:50%}[class*=GridLex-grid]>[push-left*=_sm-7]{margin-left:58.33333333%}[class*=GridLex-grid]>[push-left*=_sm-8]{margin-left:66.66666667%}[class*=GridLex-grid]>[push-left*=_sm-9]{margin-left:75%}[class*=GridLex-grid]>[push-left*=_sm-10]{margin-left:83.33333333%}[class*=GridLex-grid]>[push-left*=_sm-11]{margin-left:91.66666667%}[class*=GridLex-grid]>[push-right*=_sm-0]{margin-right:0}[class*=GridLex-grid]>[push-right*=_sm-1]{margin-right:8.33333333%}[class*=GridLex-grid]>[push-right*=_sm-2]{margin-right:16.66666667%}[class*=GridLex-grid]>[push-right*=_sm-3]{margin-right:25%}[class*=GridLex-grid]>[push-right*=_sm-4]{margin-right:33.33333333%}[class*=GridLex-grid]>[push-right*=_sm-5]{margin-right:41.66666667%}[class*=GridLex-grid]>[push-right*=_sm-6]{margin-right:50%}[class*=GridLex-grid]>[push-right*=_sm-7]{margin-right:58.33333333%}[class*=GridLex-grid]>[push-right*=_sm-8]{margin-right:66.66666667%}[class*=GridLex-grid]>[push-right*=_sm-9]{margin-right:75%}[class*=GridLex-grid]>[push-right*=_sm-10]{margin-right:83.33333333%}[class*=GridLex-grid]>[push-right*=_sm-11]{margin-right:91.66666667%}}@media only screen and (max-width:767px){[class*=GridLex-grid]>[class*=_xs-1]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}[class*=GridLex-grid]>[class*=_xs-2]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=GridLex-grid]>[class*=_xs-3]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=GridLex-grid]>[class*=_xs-4]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=GridLex-grid]>[class*=_xs-5]{-webkit-flex-basis:41.66666667%;-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}[class*=GridLex-grid]>[class*=_xs-6]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=GridLex-grid]>[class*=_xs-7]{-webkit-flex-basis:58.33333333%;-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}[class*=GridLex-grid]>[class*=_xs-8]{-webkit-flex-basis:66.66666667%;-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}[class*=GridLex-grid]>[class*=_xs-9]{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}[class*=GridLex-grid]>[class*=_xs-10]{-webkit-flex-basis:83.33333333%;-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}[class*=GridLex-grid]>[class*=_xs-11]{-webkit-flex-basis:91.66666667%;-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}[class*=GridLex-grid]>[class*=_xs-12]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=GridLex-grid]>[push-left*=_xs-0]{margin-left:0}[class*=GridLex-grid]>[push-left*=_xs-1]{margin-left:8.33333333%}[class*=GridLex-grid]>[push-left*=_xs-2]{margin-left:16.66666667%}[class*=GridLex-grid]>[push-left*=_xs-3]{margin-left:25%}[class*=GridLex-grid]>[push-left*=_xs-4]{margin-left:33.33333333%}[class*=GridLex-grid]>[push-left*=_xs-5]{margin-left:41.66666667%}[class*=GridLex-grid]>[push-left*=_xs-6]{margin-left:50%}[class*=GridLex-grid]>[push-left*=_xs-7]{margin-left:58.33333333%}[class*=GridLex-grid]>[push-left*=_xs-8]{margin-left:66.66666667%}[class*=GridLex-grid]>[push-left*=_xs-9]{margin-left:75%}[class*=GridLex-grid]>[push-left*=_xs-10]{margin-left:83.33333333%}[class*=GridLex-grid]>[push-left*=_xs-11]{margin-left:91.66666667%}[class*=GridLex-grid]>[push-right*=_xs-0]{margin-right:0}[class*=GridLex-grid]>[push-right*=_xs-1]{margin-right:8.33333333%}[class*=GridLex-grid]>[push-right*=_xs-2]{margin-right:16.66666667%}[class*=GridLex-grid]>[push-right*=_xs-3]{margin-right:25%}[class*=GridLex-grid]>[push-right*=_xs-4]{margin-right:33.33333333%}[class*=GridLex-grid]>[push-right*=_xs-5]{margin-right:41.66666667%}[class*=GridLex-grid]>[push-right*=_xs-6]{margin-right:50%}[class*=GridLex-grid]>[push-right*=_xs-7]{margin-right:58.33333333%}[class*=GridLex-grid]>[push-right*=_xs-8]{margin-right:66.66666667%}[class*=GridLex-grid]>[push-right*=_xs-9]{margin-right:75%}[class*=GridLex-grid]>[push-right*=_xs-10]{margin-right:83.33333333%}[class*=GridLex-grid]>[push-right*=_xs-11]{margin-right:91.66666667%}}@media(max-width:479px){[class*=GridLex-grid]>[class*=_xss-1]{-webkit-flex-basis:8.33333333%;-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}[class*=GridLex-grid]>[class*=_xss-2]{-webkit-flex-basis:16.66666667%;-ms-flex-preferred-size:16.66666667%;flex-basis:16.66666667%;max-width:16.66666667%}[class*=GridLex-grid]>[class*=_xss-3]{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}[class*=GridLex-grid]>[class*=_xss-4]{-webkit-flex-basis:33.33333333%;-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}[class*=GridLex-grid]>[class*=_xss-5]{-webkit-flex-basis:41.66666667%;-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}[class*=GridLex-grid]>[class*=_xss-6]{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}[class*=GridLex-grid]>[class*=_xss-7]{-webkit-flex-basis:58.33333333%;-ms-flex-preferred-size:58.33333333%;flex-basis:58.33333333%;max-width:58.33333333%}[class*=GridLex-grid]>[class*=_xss-8]{-webkit-flex-basis:66.66666667%;-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;max-width:66.66666667%}[class*=GridLex-grid]>[class*=_xss-9]{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}[class*=GridLex-grid]>[class*=_xss-10]{-webkit-flex-basis:83.33333333%;-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}[class*=GridLex-grid]>[class*=_xss-11]{-webkit-flex-basis:91.66666667%;-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}[class*=GridLex-grid]>[class*=_xss-12]{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}[class*=GridLex-grid]>[push-left*=_xss-0]{margin-left:0}[class*=GridLex-grid]>[push-left*=_xss-1]{margin-left:8.33333333%}[class*=GridLex-grid]>[push-left*=_xss-2]{margin-left:16.66666667%}[class*=GridLex-grid]>[push-left*=_xss-3]{margin-left:25%}[class*=GridLex-grid]>[push-left*=_xss-4]{margin-left:33.33333333%}[class*=GridLex-grid]>[push-left*=_xss-5]{margin-left:41.66666667%}[class*=GridLex-grid]>[push-left*=_xss-6]{margin-left:50%}[class*=GridLex-grid]>[push-left*=_xss-7]{margin-left:58.33333333%}[class*=GridLex-grid]>[push-left*=_xss-8]{margin-left:66.66666667%}[class*=GridLex-grid]>[push-left*=_xss-9]{margin-left:75%}[class*=GridLex-grid]>[push-left*=_xss-10]{margin-left:83.33333333%}[class*=GridLex-grid]>[push-left*=_xss-11]{margin-left:91.66666667%}[class*=GridLex-grid]>[push-right*=_xss-0]{margin-right:0}[class*=GridLex-grid]>[push-right*=_xss-1]{margin-right:8.33333333%}[class*=GridLex-grid]>[push-right*=_xss-2]{margin-right:16.66666667%}[class*=GridLex-grid]>[push-right*=_xss-3]{margin-right:25%}[class*=GridLex-grid]>[push-right*=_xss-4]{margin-right:33.33333333%}[class*=GridLex-grid]>[push-right*=_xss-5]{margin-right:41.66666667%}[class*=GridLex-grid]>[push-right*=_xss-6]{margin-right:50%}[class*=GridLex-grid]>[push-right*=_xss-7]{margin-right:58.33333333%}[class*=GridLex-grid]>[push-right*=_xss-8]{margin-right:66.66666667%}[class*=GridLex-grid]>[push-right*=_xss-9]{margin-right:75%}[class*=GridLex-grid]>[push-right*=_xss-10]{margin-right:83.33333333%}[class*=GridLex-grid]>[push-right*=_xss-11]{margin-right:91.66666667%}}.GridLex-gap-0>div>div>div,.GridLex-gap-0>div>div>a{width:100%}.GridLex-gap-1{margin-left:-1px;margin-right:0;margin-bottom:-1px}.GridLex-gap-1>div>div>div,.GridLex-gap-1>div>div>a{margin-left:1px;margin-right:0;margin-bottom:1px;width:100%}.GridLex-gap-2{margin-left:-1px;margin-right:-1px;margin-bottom:-2px}.GridLex-gap-2>div>div>div,.GridLex-gap-2>div>div>a{margin-left:1px;margin-right:1px;margin-bottom:2px;width:100%}.GridLex-gap-5{margin-left:-5px;margin-right:-5px;margin-bottom:-10px}.GridLex-gap-5>div>div>div,.GridLex-gap-5>div>div>a{margin-left:5px;margin-right:5px;margin-bottom:10px;width:100%}.GridLex-gap-10{margin-left:-5px;margin-right:-5px;margin-bottom:-10px}.GridLex-gap-10>div>div>div,.GridLex-gap-10>div>div>a{margin-left:5px;margin-right:5px;margin-bottom:10px;width:100%}.GridLex-gap-15{margin-left:-8px;margin-right:-7px;margin-bottom:-15px}.GridLex-gap-15>div>div>div,.GridLex-gap-15>div>div>a{margin-left:8px;margin-right:7px;margin-bottom:15px;width:100%}.GridLex-gap-20{margin-left:-10px;margin-right:-10px;margin-bottom:-20px}.GridLex-gap-20>div>div>div,.GridLex-gap-20>div>div>a{margin-left:10px;margin-right:10px;margin-bottom:20px;width:100%}.GridLex-gap-30{margin-left:-15px;margin-right:-15px;margin-bottom:-30px}.GridLex-gap-30>div>div>div,.GridLex-gap-30>div>div>a{margin-left:15px;margin-right:15px;margin-bottom:30px;width:100%}.GridLex-gap-40{margin-left:-20px;margin-right:-20px;margin-bottom:-40px}
.GridLex-gap-40>div>div>div,.GridLex-gap-40>div>div>a{
    margin-left:20px;
    margin-right:20px;
    margin-bottom:40px;
    width:100%
}  .GridLex-gap-50{
       margin-left:-25px;
       margin-right:-25px;
       margin-bottom:-50px
   }.GridLex-gap-50>div>div>div,.GridLex-gap-50>div>div>a{
           margin-left:25px;
           margin-right:25px;
           margin-bottom:50px;
           width:100%
       }.GridLex-gap-30 .GridLex-gap-30{
                   margin-left:0
               }.GridLex-gap-30 .GridLex-grid{
                                   margin-left:-15px;
                                   margin-right:-15px
                               }.GridLex-gap-30 .GridLex-grid>div{
                                                                   padding-left:15px;
                                                                   padding-right:15px
                                                               }.GridLex-gap-30 .GridLex-grid>div>div{}.GridLex-gap-1.no-mb,.GridLex-gap-2.no-mb,.GridLex-gap-5.no-mb,.GridLex-gap-10.no-mb,.GridLex-gap-20.no-mb,.GridLex-gap-30.no-mb,.GridLex-gap-40.no-mb,.GridLex-gap-50.no-mb{
                                                                                                                                                                          margin-bottom:0
                                                                                                                                                                      }.GridLex-gap-1.no-mb>div>div>div,.GridLex-gap-2.no-mb>div>div>div,.GridLex-gap-5.no-mb>div>div>div,.GridLex-gap-10.no-mb>div>div>div,.GridLex-gap-20.no-mb>div>div>div,.GridLex-gap-30.no-mb>div>div>div,.GridLex-gap-40.no-mb>div>div>div,.GridLex-gap-50.no-mb>div>div>div{
                                                                                                                                                                                                                                                                                                                                                 margin-bottom:0
                                                                                                                                                                                                                                                                                                                                             }